ion-content {
    --background: #fff5e1;
  }
  
  .welcome-container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    color: #ff7f00;
    font-weight: bold;
  }
  
  p {
    color: #7f7f7f;
  }
  
  ion-button {
    margin-top: 10px;
  }
  